/* Basic styling */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    overscroll-behavior: contain;
}

#menu {
    margin: 20px auto;
    width: 300px;
}

#game-container {
    margin: 20px auto;
    display: inline-block;
}

/* Table styling */
/* table {
    border-collapse: collapse;
} */

td {
    width: 3rem;
    height: 3rem;
    border: 1px solid black;
    background-color: white;
}
